<page-header [isSearchBar]="true"></page-header>

<div id="youtube" *ngIf="areVideosLoading===false">
    <div class="row" data-infinite-scroll (scrolled)="onScrollDown()">
        <div class="col-xl-6 col-lg-12" *ngFor="let video of trendingVideos">
            <div class="card" (click)="onVideoClick(video)">
                <img src="{{video.thumbnail}}">
                <div class="video-desc">
                    <div class="title">
                        <b>{{ video.title }}</b>
                    </div>
                    <div class="stats">
                        <br> {{ video.viewCount }} views
                        <br> {{ video.likeCount }} likes
                        <br> {{ video.publishedAt }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="isErrorInApi">
    <div class="jumbotron">
        <h1>Oh Oh</h1>
        <p>An error has occurred with loading your videos. Please try again soon.
        </p>
    </div>
</div>
<div class="loader" *ngIf="areVideosLoading===true"></div>